body {
	font-family: 'Trebuchet MS', sans-serif;
	margin: 0px;
	padding: 0px;
	height: 100%;
	color: #212121;
}

.header {
	background-color: #0aaf30;
	color: #FFFFFF;
	padding: 20px;
	text-align: center;
}

.header h1 {
	margin: 0px;
	margin-bottom: 15px;
	padding: 0px;
}

.header a {
	color: #ffdd1a;
	text-decoration: none;
	font-weight: bold;
	margin: 10px;
}

.left_column {
	position: absolute;
	margin: 0px;
	padding: 0px;
	width: 15%;
	height: 100%;
	background-color: #212121;
}

.left_column ul {
	list-style: none;
	text-align: center;
	padding: 0px;
	color: #ffffff;
}

li {
	margin: 10px 0px;
}

li span {
	color: #ffffff;
}

li a {
	text-decoration: none;
}

.tab_title {
	font-size: 20px;
	font-weight: bold;
}

.search {
	text-align: center;
}

form span {
	color: #ffffff;
}

#submit {
	background-color: #0aaf30;
	border: none;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 2px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
    margin-top: 20px;
}

.user_input {
	display: block;
	justify-content: center;
	align-items: center;
    text-align: center;
    margin-top: 20px;
}

.ui_item {
	padding: 10px
}

.logout {
	display: block;
	justify-content: center;
	align-items: center;
    text-align: center;
    margin-top: 20px;
}

.images {
	margin-left: auto;
	margin-right: auto;
}

.form {
	display: inline-block;
}