<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

    <display-name>eecs4413-project</display-name>
    
	<context-param>
		<param-name>param1</param-name>
		<param-value>groceries</param-value>
	</context-param>

	<context-param>
		<param-name>param2</param-name>
		<param-value>UserManager</param-value>
	</context-param>

	<context-param>
		<param-name>param3</param-name>
		<param-value>BasketServlet</param-value>
	</context-param>

	<context-param>
		<param-name>imageURL</param-name>
		<param-value>images</param-value>
	</context-param>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>groceries</welcome-file>
	</welcome-file-list>

	<filter>
		<filter-name>f1</filter-name>
		<filter-class>filters/AddressFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>f1</filter-name>
		<url-pattern>/CompleteTransaction</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>f2</filter-name>
		<filter-class>filters/ShippingMethodFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>f2</filter-name>
		<url-pattern>/CompleteTransaction</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>f3</filter-name>
		<filter-class>filters/CCAuthorizationFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>f3</filter-name>
		<url-pattern>/CompleteTransaction</url-pattern>
	</filter-mapping>

	<listener>
		<description>Sales History Listener</description>
		<listener-class>listeners/SalesHistoryListener</listener-class>
	</listener>
	
	<listener>
		<description>Purchase History Listener</description>
		<listener-class>listeners/PurchaseHistoryListener</listener-class>
	</listener>

</web-app>